body{
  background-color: #ff4c68;
}
.paying{
  text-align: center;
  padding:20px;
}
h1{
  font-family: Montserrat-bold;
  color: white;
}
#footer{
  text-align: center;
  padding:40px;
  font-family: "Montserrat-bold"
}
.social-button{
  padding:20px 10px;
}
